<h1><strong>About</strong></h1>

<p>This is a test university app created on Rails 5.2.5 using Ruby 2.5.5.
It currently has minimal functionality, only allowing a user to sign up as a student, login, 
and enroll and create courses.</p>