<h1>Course Listing</h1>

<ul>
    <li>{Course ID}</li>
    <li>Name:</li>
    <li>Description:</li>
</ul>

<ul>
    <li>
        {Course ID}
    </li>
    <li>
        Name:
    </li>
    <li>
        Description:
    </li>
</ul>